
@media only screen and (min-width: 700px) and (orientation: portrait) {
    /* For tablets: PORTRAIT */
    
    
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    
.mastodonembed{
	display: none;
}
    
.header {
    font-size: 5em;
    -webkit-text-stroke-width: 2px;
    top:3%;
    width: 80vw;

}
    
.menubar{
    visibility: hidden;
}


.characterimage {
    visibility: visible;
    height: 65vh;
    width: auto;

    }

.mobilelogo {
    visibility: hidden;
}

.mobilemenu{
    position: relative;
    height: 5%;
    width: 80px;
    top: 75vh;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    z-index:3;
}

.buttonhome{
    position: absolute;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: auto;
    
    margin-top: 100px;
    opacity: 0.0;
}

.buttongames{
    position: absolute;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: auto;

    margin-top: 100px;
    opacity: 0.0;
}

.buttonillust{
    position: absolute;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: auto;

    margin-top: 100px;
    opacity: 0.0;
}

.buttonabout{
    position: absolute;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: auto;

    margin-top: 100px;
    opacity: 0.0;
}

.buttonshop{
    position: absolute;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: auto;

    margin-top: 100px;
    opacity: 0.0;
}

.mobilelogo {
    width: 100vw;
    height: 10vh;
    position: absolute;
    margin-top: 5vh;
    top: 0;
    z-index: 10;
    visibility: visible;
}

.textboximage {
    display:block;
    top: 15vh;
    margin-top: 5%;
    width:85vw;
}

#changetext {
    position: relative;
    visibility: hidden;
}

#mobiletext{
    position: absolute;
    visibility: visible;
    margin-left: auto;
    margin-right:auto;
    left:0;
    right:0;
    width:90%;
    top: 0%;
    padding-top:12%;
    padding-bottom:5%;
    padding-left:11%;
    padding-right:11%;
    font-size: 1.7em;
}

.textboxspeechtext {
    visibility: hidden;
}

.homecross{
    position: fixed;
    top: 35vh;
    right: 25vw;
    margin: 0;
    font-size: 3em;
}

.portraittext {
    visibility: visible;
    top: 10%;
    padding-top:40%;
    padding-left:13%;
    padding-right:13%;
    font-size:2em;
}

.dialogueoptionwrapper {
    visibility: hidden;
}

.optionsimage {
    visibility:hidden;
}

.gallery{
    margin-top: 5vh;
    height: 75vh;
}


.projectmodal-content{
    max-height: 80vh;
}

p{
    font-size: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
}

.modalimage{
    margin-top: 10%;
}

.caption{
    font-size: 1.3em;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 1.8em;
}

.modal{
    overflow: hidden;
    padding-top: 15vh;
}

.close{
    top: 5%;
    right: 7%;
}

.about{
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    max-height: 90vh;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 40%;
    top: 7vh;
}

.aboutcontainer{
    display: block;
    margin-left: 21%;
    margin-right: auto;
    left: auto;
    right: auto;
    width: 100%;
    top: 0vh;
}

.aboutbubble {
    display: block;
    position:relative;
    float: left;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    width: 80vw;
    height: 50vh;
}

.abouttextcontainer{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    margin-top:5%;
    height: 48vh;
    width: 80vw;
    padding: 15%;
}

.abouttext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2%;
    left: auto;
    right: auto;
    width: 100%;
    height: 100%;
    overflow: auto;

    font-family: 'PT Sans', sans-serif;
    color: #555555;
    font-size: 1.3em;
}

.aboutcharacter {
    position: fixed;
    height: auto;
    width: auto;
    max-height: 50vh;
    max-width: 60vw;
    left: -3%;
    bottom:0%;
}

.socialmedia {
    position: absolute;
    bottom: 15%;
    right: 10%;
    background-color: rgba(0,0,0,0.9);
    border-radius: 5%;
    }

#abouthomelink{
    display:none;
}

.sociallink {
    font-family: 'PT Sans', sans-serif, bold;
    font-size:1.3em;
    color:white;
    /*-webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: white;*/
    text-decoration: none;
    -webkit-padding-start: 0;
}

.sociallist {
    list-style-type: none;
    -webkit-padding-start: 10px;
    -webkit-margin-end:10px;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 10px;
}

.profileimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:3%;
    width:40%;
    height: auto;
    border-radius: 500px;
}

}



/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


@media only screen and (min-width: 740px) and (orientation: landscape) {
    /* For tablets: LANDSCAPE */
    
    
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    
html {
    height:100%;
}

body {
    background-image: url('images/DropDownBG.png');    
    background-size: cover; 
    background-position:center;
    width: 100%;
    height: auto;
    }

.header {
    font-size: 5em;
    -webkit-text-stroke-width: 2px;
    top:3%;
}    

.logoimage {
    bottom: 9%;
}

.menubar{
    position: fixed;
    bottom:2%;
    right:5%;
    z-index:50;
}
.menubutton{
    font-size: 1.7em;
    margin-left: 20px;
    -webkit-text-stroke-width: 1px;
}

.characterimage {
    position:fixed;
    height: 110%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right:auto;
    top: 2%;
    left:0px;
    right: 0px; 
    z-index:1;
    visibility: visible;
}

.characterhome {
    width: 100%;
    height: 100%;
    position: fixed;
}


.textbox {
    position: fixed;
    top: 65%;
    z-index:2;
    }
    
.textboxspeechimagebox {
    position: fixed;
    width:80%;
}

.textboximage {
    display:block;
    z-index:2;
    position:fixed;
    margin-left: auto;
    margin-right:auto;
    left:0;
    right:0;
    width:90%;
}

.textboxspeechtext {
    position:fixed;
    margin-left: auto;
    margin-right:auto;
    left:0;
    right:0;
    width:90%;
    padding-top:0.5%;
    padding-bottom:20px;
    padding-left:80px;
    padding-right:50px;
    
    
    font-family: 'PT Sans', sans-serif;
    font-size:1.1em;
}

.dialogueoptionwrapper {
    position: fixed;
    z-index:50;
    width: 100%;
    height: 100%;
    margin: -10%;
    padding: 10%;
    width:120%;
    height:120%;
    background: rgba(0,0,0,0.8);
    visibility: hidden;
    }
    
.dowinner {
    position:fixed;
    margin-top: 5%;
    margin-bottom:  auto;
    }

.optionwrapper {
    width: 90%;
    margin-left: auto;
    margin-right:auto;

    }
    
.optionsimage {
    visibility: hidden;
    z-index:51;
    margin-left: auto;
    margin-right:auto;
    left:0;
    right:0;
    width:100%;
    }

.optionstext {
    position:fixed;
    margin-left: auto;
    margin-right:auto;
    margin-top:-6%;
    left:0;
    right:0;
    width:90%;
    padding-top:0%;
    padding-bottom:20px;
    padding-left:50px;
    padding-right:50px;
    
    
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-size:1.1em;
    }            


.textbox {
    position: fixed;
    top: 73%;
    z-index:2;
}

.textboxspeechtext {
    padding-top: 0.6%;
    padding-bottom: 1.5%;
    padding-left: 15%;
    padding-right: 8%;
    font-size:1.5em;
}


.portraittext {
    visibility:hidden;
}
}
