/*Responsive CSS*/

 *{
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    /*padding: 15px;
    border: 1px solid red;*/
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* For mobile phones PORTRAIT: */

@media only screen and (min-width: 300px) and (orientation: portrait){
[class*="col-"] {
    width: 100%;
}

html {
    /*background-image: url('images/clover.png');*/
    /*background-size: cover;*/
    position:absolute; 
    /*font-family: "Lucida Sans", sans-serif;*/
}

body {
    background-image: url('images/DropDownBGMobile.png');
    width: 100vw;
    height: 100vh;
    margin: 0%;
    overflow: hidden;
    }

.row:after {
    content: "";
    clear: both;
    display: block;
}

.header {
    font-family: "VT323", sans-serif;
    font-size: 2em;
    color:white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    text-align:center;

    position: relative;
    display: block;
    z-index:55;
    margin-left:auto;
    margin-right:auto;
    top: 3%;
    width: 100vw;
}

.menubar{
    position: fixed;
    bottom:2%;
    right:5%;
    z-index:50;
    visibility: hidden;
}


.mobilemenu{
    position: relative;
    height: 5%;
    width: 80px;
    top: 86vh;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    z-index:3;
}

.buttonhome{
    position: absolute;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: auto;
    
    margin-top: 100px;
    opacity: 0.0;
}

.buttongames{
    position: absolute;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: auto;

    margin-top: 100px;
    opacity: 0.0;
}

.buttonillust{
    position: absolute;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
        width: 80px;
    height: auto;

    margin-top: 100px;
    opacity: 0.0;
}

.buttonabout{
    position: absolute;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
        width: 80px;
    height: auto;

    margin-top: 100px;
    opacity: 0.0;
}

.buttonshop{
    position: absolute;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: auto;

    margin-top: 100px;
    opacity: 0.0;
}

.menubutton{
    float:left;
    font-family: 'PT Sans', sans-serif;
    font-size:0em;
    color:white;
    margin-left: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.logo {
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
    z-index: 10;
    visibility: hidden;
}

.mobilelogo {
    width: 100vw;
    height: 10vh;
    position: absolute;
    top: 0;
    z-index: 10;
    visibility: visible;
}

.logoimage {
    position:relative;
    height: 100%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-top: 85vh;
    left:0;
    right: 0; 
    z-index:10;
}

.characterhome {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0%;
    z-index: 1;
}

.characterimage {
    position:absolute;
    height: auto;
    width: 100vw;
    display: block;
    margin-left: auto;
    margin-right:auto;
    left:0;
    right: 0; 
    z-index:1;
    bottom: 0%;
    visibility: visible;
}

.textbox {
    position: absolute;
    top: 6%;
    width: 100vw;
    z-index:2;
    }
    
.textboxspeechimagebox {
    position:relative;
    width:100%;
    visibility: visible;
    margin-left: auto;
    margin-right:auto;
    left:0;
    right:0;
    z-index: 3;
}

.textboximage {
    display:block;
    z-index:2;
    margin-left: auto;
    margin-right:auto;
    left:0;
    right:0;
    width:95vw;
    z-index: 3;
}

.textboxspeechtext {
    visibility: visible;
    position:absolute;
    margin-left: auto;
    margin-right:auto;
    left:0;
    right:0;
    width:90%;
    top: 0%;
    padding-top:7%;
    padding-bottom:5%;
    padding-left:11%;
    padding-right:11%;
    
    
    font-family: 'PT Sans', sans-serif;
    font-size:1.1em;
    z-index: 4;
}

.homecross{
    animation-name: opacitycross;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    position: absolute;
    font-size: 2em;
    margin-top: -61%;
    padding-left: 0%;
    margin-left: 47%;
    visibility: visible;
    color: #ff2c53;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #ff2c53;
}

@keyframes opacitycross {
    0% {opacity: 0.3}
    50% {opacity: 1.0}
    100% {opacity: 0.3}
    }

.dialogueoptionwrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    margin-top: -5%;
    visibility: hidden;
    background: rgba(0,0,0,0.8);
}

.optionwrapper {
    width: 100%;
    display: block;

    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2%;
}

.dowinner {
    position: relative;
}
    
.optionsimage {
    visibility: hidden;
    z-index:51;
    width: 70%;
    /*margin: -0.5%;*/
    display: block;
    margin: auto;
    left: auto;
    right: auto;
    visibility:hidden;
}

.optionstext {
    position:fixed;
    display: block;
    margin-left: 10%;
    margin-right:auto;
    margin-top:-3.6%;
    left:auto;
    right:auto;
    width:90%;
    padding-top:0%;
    padding-bottom:20px;
    padding-right:50px;
    padding-left: 15%;
    
    
    font-family: 'PT Sans', sans-serif;
    color: white;

    font-size: 1.3em;
    }

}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* For mobile phones LANDSCAPE: */

@media only screen and (min-width: 300px) and (orientation: landscape){
[class*="col-"] {
    width: 100%;
}

html {
    /*background-image: url('images/clover.png');
    background-size: cover;
    position:fixed; 
    /*font-family: "Lucida Sans", sans-serif;*/

}

body {
    background-image: url('images/DropDownBGMobile.png');
    width: 100%;
    height: 100%;
    }

.row:after {
    content: "";
    clear: both;
    display: block;     
}

.header {
    font-family: "VT323", sans-serif;
    font-size: 2em;
    color:white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    text-align:center;

    position: fixed;
    display: block;
    z-index:5;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

.menubar{
    position: fixed;
    bottom:2%;
    right:5%;
    z-index:50;
}

.menubutton{
    float:left;
    font-family: 'PT Sans', sans-serif, bold;
    font-size:1.5em;
    color:white;
    margin-left: 20px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
}

.logo {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:20;
}

.logoimage {
    position:fixed;
    height: 15%;
    width: auto;
    display: block;
    margin-left: 2%;
    margin-right:auto;
    bottom: 5%;
    left:0px;
    right: 0px; 

}

.mobilemenu{
    position: fixed;
    height: auto;
    top: 5%;
    left:auto;
    right:auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    float: left;

}

.buttoncontainer{
    float: left;
    width: 200px;

}

.buttonimage {
    z-index:1;
    float: left;
    width: 100px;
    height: auto;

}

.buttonimage_center {
    z-index:1;
    width: 100px;
}

.characterimage {
    visibility: hidden;
}

.portraittext {
    visibility: hidden;
}

.textbox {
    visibility: hidden;
    }

.dialogueoptionwrapper {
    visibility: hidden;
    }

}

