/*Responsive CSS*/

 *{
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    /*padding: 15px;
    border: 1px solid red;*/
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* For mobile phones PORTRAIT: */

@media only screen and (min-width: 300px) and (orientation: portrait){
[class*="col-"] {
    width: 100%;
}

html {
    /*background-image: url('images/clover.png');*/
    /*background-size: cover;*/
    position:fixed; 
    /*font-family: "Lucida Sans", sans-serif;*/
}

body {
    background-image: url('images/DropDownBGMobile.png');
    width: 100%;
    height: 100%;
    }

.row:after {
    content: "";
    clear: both;
    display: block;     
}

.header {
    font-family: "VT323", sans-serif;
    font-size: 2em;
    color:white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    text-align:center;

    position: fixed;
    display: block;
    z-index:55;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

.menubar{
    position: fixed;
    bottom:2%;
    right:5%;
    z-index:50;
    visibility: hidden;
}


.mobilemenu{
    position: fixed;
    height: auto;
    top: 25%;
    left:auto;
    right:auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.buttoncontainer{

    margin-left:auto;
    margin-right:auto;
    display: block;
    left: auto;
    right: auto;

}

.columnLeft {
        position: fixed;
        width: 50%;
        height: auto;
        left: 0;
        padding-left: 10%;
    }

.columnRight {
        position: fixed;
        width: 50%;
        height: auto;
        right: 0;
        padding-right: 10%;
    }

.columnMiddle {
        position: fixed;
        margin-left:20%;
        width: 50%;
        height: auto;
        top: 67%;
    }


.buttonimage {
    display: block;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    z-index:1;
    width: 130px;
    height: auto;

}

.menubutton{
    float:left;
    font-family: 'PT Sans', sans-serif;
    font-size:0em;
    color:white;
    margin-left: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}

.logo {
    width: 100%;
    height: 100%;
    position: fixed;
}

.logoimage {
    position:fixed;
    height: 10%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right:auto;
    bottom: 2%;
    left:0px;
    right: 0px; 
    z-index:1;
}

.character1 {
    width: 100%;
    height: 100%;
    position: fixed;
}

.characterimage {
    position:fixed;
    height: auto;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right:auto;
    top: 7%;
    left:0px;
    right: 0px; 
    z-index:1;
}

.textbox {
    position: fixed;
    top: 25%;
    z-index:2;
    }
    
.textboxspeechimagebox {
    position: fixed;
    width:80%;
    visibility: hidden;
}

.textboximage {
    display:block;
    z-index:2;
    position:fixed;
    margin-left: auto;
    margin-right:auto;
    left:0;
    right:0;
    width:90%;
}

.textboxspeechtext {
    visibility: hidden;
    position:fixed;
    margin-left: auto;
    margin-right:auto;
    left:0;
    right:0;
    width:0%;
    padding-top:20%;
    padding-bottom:20px;
    padding-left:50px;
    padding-right:50px;
    
    
    font-family: 'PT Sans', sans-serif;
    font-size:0em;
}

.portraittext {
    visibility: hidden;
    position:fixed;
    margin-left: auto;
    margin-right:auto;
    left:0;
    right:0;
    width:90%;
    padding-top:20%;
    padding-bottom:20px;
    padding-left:50px;
    padding-right:50px;
    
    
    font-family: 'PT Sans', sans-serif;
    font-size:1.5em;
}

.dialogueoptionwrapper {
    visibility: hidden;
}

.optionsimage {
    visibility:hidden;
    }
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* For mobile phones LANDSCAPE: */

@media only screen and (min-width: 300px) and (orientation: landscape){
[class*="col-"] {
    width: 100%;
}

html {
    /*background-image: url('images/clover.png');
    background-size: cover;
    position:fixed; 
    /*font-family: "Lucida Sans", sans-serif;*/

}

body {
    background-image: url('images/DropDownBGMobile.png');
    width: 100%;
    height: 100%;
    }

.row:after {
    content: "";
    clear: both;
    display: block;     
}

.header {
    font-family: "VT323", sans-serif;
    font-size: 2em;
    color:white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    text-align:center;

    position: fixed;
    display: block;
    z-index:5;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

.menubar{
    position: fixed;
    bottom:2%;
    right:5%;
    z-index:50;
}

.menubutton{
    float:left;
    font-family: 'PT Sans', sans-serif, bold;
    font-size:1.5em;
    color:white;
    margin-left: 20px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
}

.logo {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index:20;
}

.logoimage {
    position:fixed;
    height: 15%;
    width: auto;
    display: block;
    margin-left: 2%;
    margin-right:auto;
    bottom: 5%;
    left:0px;
    right: 0px; 

}

.mobilemenu{
    position: fixed;
    height: auto;
    top: 5%;
    left:auto;
    right:auto;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    float: left;

}

.buttoncontainer{
    float: left;
    width: 200px;

}

.buttonimage {
    z-index:1;
    float: left;
    width: 100px;
    height: auto;

}

.buttonimage_center {
    z-index:1;
    width: 100px;
}

.characterimage {
    visibility: hidden;
}

.portraittext {
    visibility: hidden;
}

.textbox {
    visibility: hidden;
    }

.dialogueoptionwrapper {
    visibility: hidden;
    }

}

