

@media only screen and (min-width: 770px) and (min-height: 750px) and (orientation: landscape) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    

body {
    background-image: url('images/DropDownBG.png');    
    background-size: cover; 
    background-position:center;
    width: 100%;
    overflow:hidden;
}

.menubutton{
    font-size:2em;
}

.mobilemenu {
    visibility: hidden;
}

.logo {
    position: absolute;
    width: 10%;
    height: auto;
    bottom: 17%;
    left: 8%
    }

.logoimage {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right:auto;
    width: 100%;
    height: auto;
}

.mobilelogo {
    visibility: hidden;
}

.characterimage {
    height: 100%;
}

.textboxspeechimagebox {
    position: fixed;
    width: 80%;
    visibility: visible;
}

.textbox {
    position: fixed;
    top: 63%;
    z-index:2;
    width:80%;
    height:10%;
    margin-left: auto;
    margin-right: auto;
}

.textboxspeechtext {
    left:0;
    right:0;
    width:90%;
    padding-top:5px;
    padding-bottom:10px;
    padding-left:13%;
    padding-right:3%;
    font-size:2em;
    visibility: visible;
}

#changetext {
    position: relative;
    visibility: visible;
}

#mobiletext{
    position: absolute;
    visibility: hidden;
    top: 6%;
    padding-top: 5%;
}

.clicktocontinue{
    position: relative;
    width: 100vw;
    height: 10%;
    margin: auto;
    right: auto;
    left: auto;
    padding-top: 13%;
    padding-left: 95%;

    visibility: visible;
    z-index: 500;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
    font-size: 1.3em;
    user-select: none;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #555555;
}

.highlight{
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

.homecross{
    animation-name: opacitycross;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    position: absolute;
    font-size: 2em;
    margin-top: -0.7%;
    padding-left: 0.5%;
    visibility: visible;
    color: #ff2c53;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #ff2c53;
}

.dialogueoptionwrapper {
    width: 100vw;
    margin: 0px;
    margin-top: -5%;
    display: block;
}

.optionwrapper {
    width: 100%;
    display: block;

    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2%;
}

.dowinner {
    position: relative;
}
    
.optionsimage {
    visibility: hidden;
    z-index:51;
    width: 70%;
    /*margin: -0.5%;*/
    display: block;
    margin: auto;
    left: auto;
    right: auto;
}

.optionstext {
    position:fixed;
    display: block;
    margin-left: 10%;
    margin-right:auto;
    margin-top:-3.6%;
    left:auto;
    right:auto;
    width:90%;
    padding-top:0%;
    padding-bottom:20px;
    padding-right:50px;
    padding-left: 15%;
    
    
    font-family: 'PT Sans', sans-serif;
    color: white;

    font-size: 1.3em;
    }

.screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.gallery {
    position: relative;
    max-width: 77%;
    margin-left:auto;
    margin-right:auto;
    left: auto;
    right: auto;
    margin-top: 10%;
    /*border: dashed;
    border-width: 2px;
    border-color: red;*/
    height: 60%;
    overflow-y: scroll;
    }

.thumbnail {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:1%;
    margin-bottom:1%;

    border-radius: 15px;
    opacity: 0.8;
    width: 100%;
    height: auto;
    max-width: 300px;
    }

    @keyframes opacity {
    0% {opacity: 0.8}
    100% {opacity: 1.0}
    }

    @-webkit-keyframes opacity {
    0% {opacity: 0.8}
    100% {opacity: 1.0}
    }

.thumbnail:hover {
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: auto;
  margin-left: 1%;
  margin-right: 1%;
}

/* The Gallery Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 50;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #000000;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.lbimage {
    display:block;
    margin:auto;
    left: auto;
    right: auto; 
    height: auto;
    width: auto;
    max-height: 680px;
    max-width: 1200px;
}

.galleryscroll{
    visibility: hidden;
    height: 150px;
    max-width: 1200px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: black;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  background-color: #000000;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  opacity: 0.0;
}

#caption {
  font-family: 'PT Sans', sans-serif;
  font-size:1em;
  color:white;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  display: inline;
  white-space: normal;
  opacity: 0.6;
  width: auto;
  height: auto;
  max-height: 150px;
  max-width: 150px;
  font-family: 'PT Sans', sans-serif;
  font-size:1em;
  color:white;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/* The Projects Modal (background) */
.projectmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
}

/* Modal Content/Box */
.projectmodal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    padding-bottom: 3%;
    border: 1px solid #888;
    max-height: 80%;
    width: 70%; /* Could be more or less, depending on screen size */
    overflow: auto;
}

/* The Close Button */
.projectclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.projectclose:hover,
.projectclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    color: #ff2c53;
    font-size: 3em;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    color: #3e3e3e;
    font-size: 2em;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: -1.5%;
    margin-bottom: 4%;
}

p {
    font-family: 'PT Sans', sans-serif;
    color: #121212;
    font-size: 1.3em;
    margin-left: 15%;
    margin-right: 15%;
}

.modalimage{
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
}

.caption {
    font-family: 'PT Sans', sans-serif;
    color: #555555;
    font-size: 1em;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-style: italic;
    margin-top: 1%;
    margin-bottom: 3%;
}

.ctc{
    font-family: 'PT Sans', sans-serif;
    color: #ff2c53;
    font-size: 2em;
    display: block;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    left: auto;
    right: auto;
    opacity: 0.8;
}

.ctc:hover {
    cursor: pointer;
}

.cross{
    animation-name: opacitycross;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease;
    margin-left: -5%;
    margin-right: -5%;
}

@keyframes opacitycross {
    0% {opacity: 0.3}
    50% {opacity: 1.0}
    100% {opacity: 0.3}
    }

.about{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    max-height: 90vh;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 40%;
}

.aboutcontainer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    width: 100%;
}

.aboutbubble {
    display: block;
    position:relative;
    float: left;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    width: inherit;
    height: inherit;
}

.abouttextcontainer{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    height: 75vh;
    width: 100%;
    padding: 10%;
}

.abouttext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 2%;
    left: auto;
    right: auto;
    width: 100%;
    height: 100%;
    overflow: auto;

    font-family: 'PT Sans', sans-serif;
    color: #555555;
    font-size: 1.3em;
}

.aboutcharacter {
    position: fixed;
    height: auto;
    width: auto;
    max-height: 100vh;
    max-width: 40vw;
    left: -3%;
    bottom:0%;
}

.socialmedia {
    position: absolute;
    top: 15%;
    right: 20%;

    }

#abouthomelink{
    visibility: visible;
}

.sociallink {
    font-family: 'PT Sans', sans-serif, bold;
    font-size:1.5em;
    color:white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    text-decoration: none;

}

.sociallist {
    list-style-type: none;
}

.profileimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:3%;
    width:40%;
    height: auto;
    border-radius: 500px;
}

.shopdiv{
    position: absolute;
    width: 100%;
    height: 100%;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

}

.shopimage{
    display: block;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
}
}