

@media only screen and (min-width: 770px) and (min-height: 800px) and (orientation: landscape) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    

body {
    background-image: url('images/DropDownBG.png');    
    background-size: cover; 
    background-position:center;
    width: 100%;
    overflow:hidden;
}

.menubutton{
    font-size:2em;
}

.mobilemenu {
    visibility: hidden;
}

.logoimage {
    height: 15%;
    display: block;
    margin-left: auto;
    margin-right:auto;
    bottom: 13%;
    left:-83%; 
}

.characterimage {
    height: 100%;
}


.textboxspeechimagebox {
    position: fixed;
    width: 80%;
    visibility: visible;
}

.textbox {
    position: fixed;
    top: 63%;
    z-index:2;
    width:80%;
    height:10%;
    margin-left: auto;
    margin-right: auto;
}


.textboxspeechtext {
    left:0;
    right:0;
    width:90%;
    padding-top:5px;
    padding-bottom:10px;
    padding-left:13%;
    padding-right:3%;
    font-size:2em;
    visibility: visible;
}

.optionwrapper {
    width: 90%;
    display: block;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right:auto;
    margin-top: -2%;
    }
    
.optionsimage {
    visibility: hidden;
    z-index:51;
    width: 80%;
    /*margin: -0.5%;*/
    display: block;
    margin: auto;
    left: auto;
    right: auto;
    }

.optionstext {
    position:fixed;
    display: block;
    margin-left: 5%;
    margin-right:auto;
    margin-top:-4%;
    left:auto;
    right:auto;
    width:90%;
    padding-top:0%;
    padding-bottom:20px;
    padding-right:50px;
    padding-left: 10%;
    
    
    font-family: 'PT Sans', sans-serif;
    color: white;

    font-size: 1.3em;
    }

.gallery {
    display: block;
    max-width: 77%;
    margin-left:auto;
    margin-right:auto;
    left: auto;
    right: auto;
    margin-top: 10%;
    /*border: dashed;
    border-width: 2px;
    border-color: red;*/
    max-height: 650px;

    overflow-y: scroll;
    }

.thumbnail {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top:1%;
    margin-bottom:1%;

    border-radius: 15px;
    opacity: 0.8;
    }

    @keyframes opacity {
    0% {opacity: 0.8}
    100% {opacity: 1.0}
    }

    @-webkit-keyframes opacity {
    0% {opacity: 0.8}
    100% {opacity: 1.0}
    }

.thumbnail:hover {
    animation-name: opacity;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: auto;
  margin-left: 1%;
  margin-right: 1%;
}

/* The Gallery Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 50;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.lbimage {
    display:block;
    margin:auto;
    left: auto;
    right: auto; 
    height: auto;
    width: auto;
    max-height: 680px;
    max-width: 1200px;
}

.galleryscroll{
    visibility: hidden;
    height: 150px;
    max-width: 1200px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: black;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  background-color: #000000;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

#caption {
  font-family: 'PT Sans', sans-serif;
  font-size:1em;
  color:white;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  display: inline;
  white-space: normal;
  opacity: 0.6;
  width: auto;
  height: auto;
  max-height: 150px;
  max-width: 150px;
  font-family: 'PT Sans', sans-serif;
  font-size:1em;
  color:white;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/* The Projects Modal (background) */
.projectmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 50; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.projectmodal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.projectclose {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.projectclose:hover,
.projectclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

}


